<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make new comment</title>
</head>
<body>
    <form action="/comments" method="post">
        <label>Enter your username</label>
        <input type="text" name="username">
        <label>Enter your comment</label>
        <input type="text" name="comment"> 
        <button>Submit</button>
    </form>
</body>
</html>